<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div id="fb-root"></div>
<center>
    <div style="margin-top: 20%;">
        <form action="http://localhost:5000/fb_shop/add_new_product_fb_shop">
            <input style="height: 100px; width: 500px;" type="submit" checked value="Add new product to Facebook shop">
        </form>

    </div>
    <div style="margin-top: 10%;">
        <a href ="{{ url_for('login') }}">Login with Facebook</a>
    </div>
</center>
</body>
</html>
